

  <% if @errors %>
      <% @errors.full_messages.each do |message| %>
        <ul><%= message %></ul>
      <% end %>
  <% end %> 

  <form method="post" action="/photos">
    <label for="name">Name</label>
    <input type="text" name="name">
    <br>
    <label for="products">Products</label>
    <input type="text" name="products">
    <br>
    <label for="event">Event</label>
    <input type="text" name="event">
    <br>
    <input type="submit" value="CREATE">
  </form>

